machine:
  services:
    - docker

dependencies:
  cache_directories:
    - "~/docker"
  override:
    - docker info
    - if [[ -e ~/docker/image.tar ]]; then docker load --input ~/docker/image.tar; fi
    - docker build -t redislabs/redismod .
    - mkdir -p ~/docker; docker save redislabs/redismod > ~/docker/image.tar

deployment:
  hub: 
    branch: master
    commands:
      - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
      - docker push redislabs/redismod